body {
  font-family: georgia, sans-serif;
  background: #eaeeee;
}

#cabecario{
  padding: 40px;
  background-color: rgb(63, 164, 211);
  margin: -10px;

}

#cabecario .cabecario-texto h1{
  text-align: center;
  color: aliceblue;
  margin: auto;
  font-size: 45px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input, button, select {
  padding: 10px;
  font-size: 16px;
   border-radius: 5px;
}

#jogadoras-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  height: 500px;
  text-align: center;
  
}

.card h3, .card p, .card span, .card button{
  justify-content: end;
}

.card img {
  width: 180px;
  border-radius: 8px;
  max-height: 290px;
}

.card .foto-container {
  width: 180px;
  height: 290px;
  max-height: 290px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.card .favorita {
  width: 100%;
  color: gold;
  cursor: pointer;
}
